[user]
	name = Shubham Soni
	email = shubxam@gmail.com
[credential]
	helper = osxkeychain
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[pull]
	rebase = preserve
[core]
	excludesFile = /Users/shubham/.gitignore_global
[init]
	defaultBranch = main
[credential "https://dev.azure.com"]
	useHttpPath = true
